{% extends "../base.html" %}

{% block title %}Phones{% endblock %}

{% block sub_content  %}
<div class="row mb-5">
  <div class="col-12 text-center">
    <h2 class="text-white bg-dark py-2">{{category.name}}</h2>
  </div>
</div>
<div class="row">
  {% for product in products %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <a href="">
        
      </a>
      <div class="card card-sm h-100">
        <a href="{{ product.get_absolute_url }}">
            {% for image in product.product_image.all %} 
            {% if image.is_feature %}
            <img
                src="{{ image.image.url }}"
                alt="{{ image.image.alt_text }}"
                class="card-img-top p-3"
            />
            {% endif %}
            {% endfor %}
        </a>
         
        <div class="card-body">
          <h5 class="card-title">{{product.title|title}}</h5>
          <!-- <p class="card-text">{{product.description}}</p> -->
          <div class="row">
            <div class="col-6">
              <h6 class="card-title">&#8358;{{product.regular_price}}</h6>
            </div>
            <div class="col-6 text-center text-success">
              <p class="card-text fw-bold">In Stock</p>
            </div>
          </div>
          
          <a href="#" class="btn btn-secondary w-100 btn-sm fw-bold">Add to Cart</a>
        </div> 
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}