{% extends "../base.html" %}

<title>{% block title %}{{product.title|title}}{% endblock %}</title>

{% block sub_content  %}
<div class="row ">
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        {% for message in messages  %}
        {{message|safe}} - <a href="{% url "account:wishlist" %}" class="alert-link">Your Wishlist</a>.
        {% endfor %}
    </div>
    {% endif %}

    <div class="col-md-7 col-lg-7">
        {% for image in product.product_image.all %}
        {% if image.is_feature %}
        <img src="{{ image.image.url }}" alt="{{ image.image.alt_text }}" class="img-fluid" />
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-5 col-lg-5">
        <h2 class="mb-4">{{product.title}}</h2>
        <p class="lead mb-3 fw-bold">Type: {{product.product_type}}</p>
        <h4 class="mb-4">Make: {{product.category.name}}</h4>
        <p class="py-2"><span class="fw-bold">Description:</span> {{product.description}}</p>
        <ul class="list-group my-4">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="lead fw-bold">Price:</div>
                <div class="ms-2 ms-auto px-5">
                    <h3 class="fw-bold">&#x20A6;{{product.regular_price}}</h3>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start pt-4">
                <div class="lead fw-bold">
                    <label for="select">qty</label>
                    <select id="select" class="form-select form-select-sm fw-bold" aria-label=".form-select-sm example">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div class="ms-2 ms-auto px-5">
                    <button id="add-button" value="{{product.id}}" class="btn btn-secondary w-100 fw-bold">Add to
                        cart</button>

                    <a href="{% url 'account:user_wishlist' product.id  %}" class="btn btn-light fw-bold w-100 mt-2"
                        role="button" aria-disabled="true">Add to Wish List</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'cart:add_to_cart' %}",
            data: {
                productId: $('#add-button').val(),
                product_qty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: "post"
            },
            success: function (json) {
                document.getElementById('cart_qty').innerHTML = json.qty;
            },
            error: function (xhr, errmsg, err) {
                console.log(err);
            }
        })

    });
</script>
{% endblock %}